
h1 {
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
}

.slider-container {
    text-align: center;
}
  
input[type="range"] {
width: 80%;
margin-bottom: 10px;
}

p {
font-size: 18px;
font-weight: bold;
}


.board {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pixel {
    box-shadow: inset 0 0 0 0.2px rgba(0, 0, 0, 0.404);
}

